body {
    margin: 0;
    padding: 10px;
    font-family: monospace;
    background-color: rgb(6, 29, 27);
    width: 400px ;
    height: 300px;
    font-size: 13px;
}

#help-text {
    color: antiquewhite;
    line-height: 20px;
    opacity: 0;
    transition: 1s;
}

#help-text.fade-in {
    opacity: 1;
    transition: 1s;
}

#help-text.hide {
    display: none;
}



button {
    font-family: inherit;
    
}

::placeholder {
    color: rgb(59, 158, 125);
}

#input-el {
    color: wheat;
    background-color: rgb(3, 53, 49);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(27, 129, 121);
    border-radius: 2px;
    font-family:inherit;
    margin-bottom: 5px;
    

}

#input-el:focus {
    outline:rgb(61, 204, 192) solid 1px;
}

#input-button {
    background-color: rgb(141, 250, 241);
    color: rgb(37, 0, 13);
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 2px;
    font-weight: bolder ;
}


#help-button {
    background-color: rgb(141, 250, 241);
    color: rgb(37, 0, 13);
    padding: 5px;
    margin-top: 5px;
    margin-left:25.8%;
    border: none;
    border-radius: 2px;
    font-weight: bolder ;
}


#tab-button {
    background-color: rgb(141, 250, 241);
    color: rgb(37, 0, 13);
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 2px;
    font-weight: bold;

}
#delete-button {
    background-color: rgb(255, 81, 125);
    color: rgb(37, 0, 13);
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 2px;
    font-weight: bold;

}

#input-button:hover {
    background-color: rgb(46, 221, 207);
  
}

#tab-button:hover {
    background-color: rgb(46, 221, 207);
}

#help-button:hover {
    background-color: rgb(46, 221, 207);
    /* box-shadow: 0px 0px 6px 0px rgb(46, 221, 207); */
}

#delete-button:hover {
    background-color: rgb(238, 46, 94);
}

ul {
    list-style:circle;
    padding-left: 17px;
}

li {
    color: rgb(88, 221, 210);
    margin-bottom: 5px;
}

a {
    color: rgb(88, 221, 210);
}

a:hover {
    color: #29f778;
}